@charset "UTF-8";
html {
  font-size: 15px; }

@media screen and (min-width: 400px) {
  html {
    font-size: 18px; } }
body {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  background-color: #eee;
  overflow-x: hidden;
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px; }

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%; }

.soso {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  width: 100%;
  height: 3rem;
  z-index: 10; }
  .soso .soso-left {
    width: 10%;
    height: 3rem;
    float: left; }
    .soso .soso-left a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background: url("../images/white_dd-logo.png") 10px 15px no-repeat;
      background-size: 33px 25px; }
  .soso .soso-soso {
    width: 70%;
    height: 2.4rem;
    background-color: #fff;
    float: left;
    border-radius: 20px;
    margin-left: 5%;
    position: relative;
    top: 0.3rem; }
    .soso .soso-soso img {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 2%;
      top: 25%; }
    .soso .soso-soso input {
      position: absolute;
      top: 20%;
      left: 13%;
      width: 70%;
      height: 60%;
      border: none;
      outline: none; }
  .soso .soso-rgt {
    float: right;
    width: 14%;
    height: 3rem;
    text-align: center; }
    .soso .soso-rgt a {
      display: inline-block;
      padding-top: 10%;
      text-decoration: none;
      color: #fff; }
      .soso .soso-rgt a::before {
        content: "";
        display: block;
        height: 1.4rem;
        background: url("../images/white_header-category.png") no-repeat 1px 2px;
        background-size: 23px 15px; }
      .soso .soso-rgt a span {
        display: block;
        font-size: 0.8rem;
        color: #fff; }

.carousel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 239.625px; }
  .carousel ul {
    list-style: none; }
    .carousel ul li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 0; }
      .carousel ul li a {
        display: inline-block; }
        .carousel ul li a img {
          width: 100%; }
  .carousel .circles {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 35%;
    height: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); }
    .carousel .circles ul {
      list-style: none;
      text-align: center;
      font-size: 0; }
      .carousel .circles ul li {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        margin: 1px 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff; }
      .carousel .circles ul li.cur {
        background-color: red; }

/*商品分类 */
nav {
  width: 100%;
  overflow: hidden;
  background-color: #fff; }
  nav .nav-cont {
    width: 100%;
    list-style: none; }
    nav .nav-cont li {
      width: 20%;
      height: 2rem;
      display: inline-block;
      text-align: center; }
      nav .nav-cont li a {
        font-size: 0.55rem;
        display: block;
        text-decoration: none;
        color: #3c3c3c;
        margin: 0.5rem 0;
        border-right: 1px solid #e8e8e8; }
  nav .nav-cont li:nth-child(5) a {
    border-right: none; }
  nav .nav-cont li:nth-child(10) a {
    border-right: none; }

/*快讯 */
.ddkx {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-top: 1px solid #e8e8e8; }
  .ddkx .flash {
    width: 90%;
    margin: 0 5%;
    overflow: hidden; }
    .ddkx .flash img {
      width: 27%;
      float: left; }
    .ddkx .flash .flash-cont {
      width: 70%;
      line-height: 2.8rem;
      padding-left: 30%; }
      .ddkx .flash .flash-cont span:nth-child(1) {
        font-size: 0.6rem;
        border: 1px solid #f23d0a;
        color: #f23d0a;
        padding: 1px 3px; }
      .ddkx .flash .flash-cont span:nth-child(2) {
        font-size: 0.9rem; }
      .ddkx .flash .flash-cont span:last-child {
        display: inline-block;
        width: 16px;
        height: 2.8rem;
        float: right;
        background: url("../images/right_arrow.png") center no-repeat;
        background-size: 0.6rem 0.8rem; }

.good-b {
  display: block;
  width: 98%;
  margin: 1%; }

.goodbook {
  width: 100%; }

.host {
  width: 92%;
  line-height: 2.5rem;
  padding: 0 4%;
  overflow: hidden;
  background-color: #fff; }
  .host img {
    width: 15%; }
  .host h2 {
    float: left;
    font-weight: bold;
    font-size: 1rem;
    color: #5e5e5e; }
  .host span {
    float: right;
    color: #ff463c; }
    .host span em {
      display: inline-block;
      float: right;
      width: 14px;
      height: 15px;
      background: #ff463c url("../images/seckill_arrow.png") center no-repeat;
      background-size: 0.6rem 0.8rem;
      margin-top: 25%;
      margin-left: 5px; }

/*ajax请求的商品 */
.goodbook .host-cont {
  width: 100%;
  overflow: auto;
  background-color: #fff; }
  .goodbook .host-cont .hostcont {
    width: 300%; }
    .goodbook .host-cont .hostcont .host-list {
      float: left;
      width: 6rem; }
      .goodbook .host-cont .hostcont .host-list a {
        text-decoration: none;
        color: #ff463c; }
        .goodbook .host-cont .hostcont .host-list a img {
          width: 100%;
          border-radius: 50%; }
        .goodbook .host-cont .hostcont .host-list a p {
          text-align: center; }

.panic {
  width: 98%;
  margin: 2% 1%; }

.host-img-list {
  width: 100%;
  overflow: hidden; }
  .host-img-list li {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee; }
    .host-img-list li a {
      display: block;
      font-size: 0; }
      .host-img-list li a img {
        width: 100%; }

.recommend {
  width: 100%; }
  .recommend .title {
    width: 50%;
    height: 2rem;
    margin: auto auto;
    text-align: center;
    position: relative; }
    .recommend .title:after {
      content: "";
      position: absolute;
      top: 0.6rem;
      left: 0;
      font-size: 0;
      line-height: 0;
      background-color: #dadada;
      height: 1px;
      width: 100%;
      z-index: 1; }
    .recommend .title em {
      margin: 0 1.65rem;
      position: relative;
      z-index: 2;
      display: inline-block;
      height: 1.5rem;
      padding: 0 0.55rem;
      overflow: hidden;
      background-color: #eeeeee; }
      .recommend .title em i {
        display: block;
        float: left;
        width: 1rem;
        height: 1rem;
        font-size: 0;
        border-radius: 50%;
        background: url("../images/tuijian.png") center center no-repeat;
        background-size: contain;
        margin-right: 0.25rem;
        margin-top: 0.2rem; }
      .recommend .title em b {
        font-size: 1rem; }

.rec-cont {
  width: 100%;
  overflow: hidden;
  background-color: #fff; }
  .rec-cont .rec-list {
    width: 50%;
    box-sizing: border-box;
    float: left;
    border: 1px solid #eee; }
    .rec-cont .rec-list a {
      text-decoration: none;
      color: #5e5e5e; }
      .rec-cont .rec-list a img {
        width: 100%;
        border-radius: 50%;
        font-size: 0; }
      .rec-cont .rec-list a .rec-name {
        display: block;
        width: 100%;
        height: 3rem;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #5e5e5e;
        box-sizing: border-box;
        padding: 0 0.5rem; }
      .rec-cont .rec-list a p {
        box-sizing: border-box;
        width: 100%;
        line-height: 2rem;
        padding-left: 0.5rem; }
        .rec-cont .rec-list a p .rec-mo {
          color: #ff463c;
          padding-right: 1rem; }
        .rec-cont .rec-list a p .rec-dd {
          padding: 2px 4px;
          background-color: #ff463c;
          color: #fff; }

/*结尾 */
footer {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 0 0 4rem; }
  footer .user {
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    border-top: 2px solid #eee;
    border-bottom: 1px solid #eee;
    float: left; }
    footer .user a {
      float: left;
      display: inline-block;
      margin-left: 1rem;
      text-decoration: none;
      color: #4D525D;
      font-size: 1rem; }
  footer a.top {
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    width: 20%;
    display: inline-block;
    float: right;
    padding: 0 0.4rem 0 1rem;
    background: transparent url(../images/goto-top-new.png) 0.2rem center no-repeat;
    background-size: 1rem 1rem;
    font-size: 1rem;
    padding-left: 1.3rem;
    color: #4D525D;
    text-decoration: none; }

.btm-nav {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center; }
  .btm-nav a {
    text-decoration: none;
    color: #323232;
    display: inline-block;
    height: 100%;
    padding: 0 0.4rem; }
  .btm-nav .btn-a {
    color: red; }

.foot {
  text-align: center; }
  .foot p {
    color: #999; }

/*底部固定导航 */
.footer-nav {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fcfcfc;
  border-top: 1px solid #e3e3e3;
  filter: alpha(opacity=99);
  -moz-opacity: 0.99;
  -khtml-opacity: 0.99;
  opacity: 0.99;
  position: fixed;
  z-index: 99;
  bottom: 0; }
  .footer-nav a {
    display: block;
    float: left;
    width: 20%;
    color: #4d525d;
    text-decoration: none;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
    .footer-nav a img {
      display: block;
      width: 36px;
      height: 33px;
      margin: 0 auto;
      background-size: 36px 33px;
      background-repeat: no-repeat;
      vertical-align: middle;
      border: 0 none; }

.fixed-box {
  width: 3rem;
  display: none;
  position: fixed;
  bottom: 56px;
  right: 0.5rem;
  z-index: 99; }
  .fixed-box a img {
    width: 100%;
    vertical-align: middle;
    border: 0 none; }

/*# sourceMappingURL=index.css.map */
