@charset "UTF-8";
html {
  font-size: 15px;
  height: 100%; }

@media screen and (min-width: 400px) {
  html {
    font-size: 18px; } }
body {
  font-size: 14px;
  font-family: "microsoft YaHei";
  background-color: #eee;
  overflow-x: hidden;
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px;
  height: 100%; }

.fixed-top {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #fff;
  border-bottom: 1px solid #eee; }
  .fixed-top .return {
    float: left;
    height: 100%;
    padding-left: 5%; }
    .fixed-top .return a {
      display: block; }
      .fixed-top .return a img {
        width: 50%;
        margin-top: 85%; }
  .fixed-top .sou {
    width: 70%;
    height: 2.4rem;
    background-color: #eee;
    float: left;
    border-radius: 20px;
    margin-left: 5%;
    position: relative;
    top: 0.3rem; }
    .fixed-top .sou img {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 2%;
      top: 25%; }
    .fixed-top .sou input {
      position: absolute;
      top: 20%;
      left: 13%;
      width: 70%;
      height: 60%;
      border: none;
      outline: none;
      background-color: #eeeeee; }
  .fixed-top .dian {
    float: right;
    width: 15%;
    height: 100%;
    text-align: center; }
    .fixed-top .dian a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
      color: #5e5e5e; }

section {
  width: 100%; }
  section .sou-cont {
    width: 100%;
    overflow: hidden; }
    section .sou-cont h5 {
      text-align: center;
      margin: 10% auto;
      font-size: 2rem;
      color: #d43f3a; }
    section .sou-cont .rec-list {
      width: 50%;
      box-sizing: border-box;
      float: left;
      border: 1px solid #eee;
      background-color: #fff; }
      section .sou-cont .rec-list a {
        text-decoration: none;
        color: #5e5e5e; }
        section .sou-cont .rec-list a img {
          width: 100%;
          border-radius: 50%;
          font-size: 0; }
        section .sou-cont .rec-list a .rec-name {
          display: block;
          width: 100%;
          height: 3rem;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          color: #5e5e5e;
          box-sizing: border-box;
          padding: 0 0.5rem; }
        section .sou-cont .rec-list a p {
          box-sizing: border-box;
          width: 100%;
          line-height: 2rem;
          padding-left: 0.5rem; }
          section .sou-cont .rec-list a p .rec-mo {
            color: #ff463c;
            padding-right: 1rem; }
          section .sou-cont .rec-list a p .rec-dd {
            padding: 2px 4px;
            background-color: #ff463c;
            color: #fff; }

/*默认的热门搜索 */
.host {
  width: 100%;
  padding-left: 1rem; }
  .host h4 {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem; }
  .host a {
    font-size: 1.2rem;
    padding: 0.4rem 1.4rem;
    background-color: #fff;
    text-decoration: none;
    color: #5e5e5e;
    margin: 0.3rem;
    display: inline-block; }

/*# sourceMappingURL=search.css.map */
